.shady {
    /* transform: scale(1.95); */
    box-shadow: 0px 5px 5px #61CE70;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition property */
  }
  
  .shady:hover {
    transform: scale(1.15);
    /* box-shadow: #61CE70 0px 10px 20px; */
    box-shadow: 0px 5px 20px #61CE70;

  }
.shady2 {
    /* transform: scale(1.95); */
    /* box-shadow: 0px 5px 15px #61CE70;
    transition: transform 0.3s ease, box-shadow 0.3s ease; Added transition property */
  }
  
  .shady2:hover {
    /* transform: scale(1.15); */
    /* box-shadow: #61CE70 0px 10px 20px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, #61CE70 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  }
  